#Redis connection info
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=

#mongo connection info
MONGO_HOST=
MONGO_USER=
MONGO_PASS=
MONGO_OPTS=
MONGO_DBNAME=

#ESI app info https://developers.eveonline.com/
ESI_SECRET=
ESI_APPID=